@font-face {
  font-family: Noto;
  src: url(../fonts/NotoSerifThai-unhinted/NotoSerifThai-SemiCondensedBold.ttf);
}
@font-face {
  font-family: Noto-light;
  src: url(../fonts/NotoSerifThai-unhinted/NotoSerifThai-Light.ttf);
}
@font-face {
  font-family: Noto-footer;
  src: url(../fonts/NotoSerifThai-unhinted/NotoSerifThai-Regular.ttf);
}
body {
  font-family: Noto;
}
/*nav-item*/
div.nav {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
div.nav-item {
  font-size: 16x;
  padding-bottom: 1%;
  padding-top: 1%;
  cursor: pointer;
  text-align: center;
}

div.nav-item > a {
  text-decoration: none;
  color: white;
  position: relative;
}

div.nav-item > a:hover {
  color: white;
}

div.nav-item > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

div.nav-item > a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*container*/
div.container > div.row {
  margin-top: 2%;
}
/*carousel*/
div.carousel-caption > h5 {
  text-align: right;
  color: black;
}
div.carousel-caption > p {
  text-align: right;
  color: black;
}

.packcard {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.packcard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/*footer*/
.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  margin-top: 50px;
  font-family: Noto-footer;
}
