body{
    background-color: black;
    font-family: 'Noto Serif', serif;
}
div.container{
    background-color: #FFFF;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 3% 3% 3% 3%;
    border-radius: 15px;
}
div.nav{
    background-color: #E84F2D;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*nav-item*/
div.nav-item {
    width: 3vw;
    font-size: 16x;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    cursor: pointer;
    text-align: center;
  }
  
  div.nav-item > a {
    text-decoration: none;
    color: white;
    position: relative;
  }
  
  div.nav-item > a:hover {
    color: white;
  }
  
  div.nav-item > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  div.nav-item > a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }